body {
    background-color: lightgrey;
    font-family: Helvetica;
    margin: 10px 150px;
}

.h1 {
    border-bottom: 1px solid black;  
}

.productContainer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 4px;
    box-shadow: 3px 3px 5px gray;
}

.toggleButton:hover {
    cursor: pointer;
}

.toggleButton {
    background-color: lightgray;
    display: inline-block;
    padding:10px;
    font-family: Helvetica;
    border-radius: 4px;
    border: 1px solid black ;
}

/* DARK STYLES */
.darkBody {
    background-color: rgb(38, 36, 36);
    color: white;
}

.darkH1 {
    border-bottom: 1px solid white;  
}

.darkToggleButton {
    background-color: rgb(38, 36, 36);
    border: 1px solid white ;
}

.darkProductContainer {
    background-color: rgb(69, 69, 69);
    box-shadow: 2px 2px 3px rgb(159, 159, 159);  
}
